# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
.venv/

# IDE
.vscode/
.idea/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Misc
*.log
populate.py
